.service2Container{
    padding: 8% 5%;
}

.serviceCarousal{
 display: flex;
 align-items: center;
 justify-content: center;
}

.serviceCarousal img {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}