.banner{
    background-image: url('../../../public/main\ bg.jpg');
    background-position: 100%;
    background-size:cover;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    
}
.banner-radio{
    font-size: 1.5rem;
    
}
.banner-radio input{
    width: 2rem;
}
.card{
    height: 15rem;
    width: 90rem;
    background-color: #ffff;
    margin-top: 20rem;
    border: 1px solid black;
}
.banner-radio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 10% ;
}
.banner-input{
    border: none;
    border-bottom: 1px solid black;
}
.banner-main{
    margin: 3rem 4rem;
}
.banner-sub{
    text-align: left;

}
.banner-icon{
    background-color: black;
    font-size: 2.5rem;
    color: white;
    border-radius: 50%;
    padding: 0.1rem;
}
.banner-btn-cal{
    border-radius: 5px;
    
}
.banner-btn-sub{
    background-color: #9069ff;
    font-size: 1.6rem;
    width: 21rem;
    height: 3rem;
    border-radius: 5rem;
    border: none;
    font-weight: 700;
    color: white;
    position: relative;
    top:-0.8rem;
}